@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  transition: 0.4s;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: black !important;    */
  background-color: black !important;
  width: 100%;
}

.navbar {
  /* background-color: rgb(45, 45, 45) !important; */
  /* color: aliceblue; */
  position: fixed !important;
  width: 100%;
  z-index: 1;
  color: #40c9ff !important;
}

/* === removing default button style === */
.profile-logo {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.profile-logo {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  -webkit-text-stroke: 1px var(--animation-color);
  animation: slide 6s linear infinite;
}

@keyframes slide {
  0%,
  100% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
}

/* hover effect is removed */
.profile-logo:hover .hover-text {
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.collapse {
  /* background-color: aquamarine; */
  justify-content: end;
  /* width: 20% !important; */
  padding: 0 !important;
  color: white !important;
}

.nav-link {
  color: rgb(116, 116, 116) !important;
}

.navbar-nav {
  gap: 40px;
  margin: 0px 100px 0px 0px !important;
  padding: 0;
}

.nav-link:hover {
  color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
  scale: 1.1;
}

nav:hover {
  background-color: rgba(1, 0, 0, 0.769);
  transition: 1s;
}

#home,
#about-me,
#skill,
#projects,
#experience,
#contact {
  height: 800px;
}

/* social account */

.wrapper {
  display: inline-flex;
  list-style: none;
  margin-top: 1%;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

.wrapper .icon {
  position: relative;
  color: black !important;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .gitHub:hover,
.wrapper .gitHub:hover .tooltip,
.wrapper .gitHub:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* social account */

.home {
  width: 100% !important;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.home-photo {
  margin-top: 40px;
  width: 40%;
}

.home-photo img {
  width: 100%;
  border-radius: 70px;
  cursor: pointer;
  overflow: hidden;
}

.photo-about img:hover {
  scale: 1.2;
  margin-right: 70px;
}

/* About-mee */
.about-me {
  width: 100%;
  color: #fff;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  transition: 4s;
}

.photo-about {
  width: 30%;
  height: 50%;
  border-radius: 50%;
  margin-left: 5%;
}

.photo-about img {
  width: 150%;
  border-radius: 70px;
  cursor: pointer;
  overflow: hidden;
}

.photo-about img:hover {
  scale: 1.2;
  margin-right: 70px;
}

.about {
  width: 45%;
  justify-content: end;
  /* background-color: gray; */
  padding: 1%;
  margin-right: 2%;
}

.about h4 {
  margin: 0;
}

.about h2 {
  font-weight: bold;
  color: darkorange;
  letter-spacing: 5px;
}

.about h6 {
  font-weight: bold;
  margin: 3% 0px;
}

.about p {
  line-height: 30px;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 5s ease;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.35s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all 1s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

.skill {
  width: 100%;
  /* background-color: rgb(45, 0, 208); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech {
  width: 40%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center !important;
  color: #fff;
  margin-top: 140px;
  position: relative;
}

.tech .item {
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.item:hover {
  scale: 1.2;
}

.tech-skill {
  width: 50%;
  height: fit-content;
  margin-top: 10%;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(251, 251, 251);
}

.tech-skill > p,
.skill-li {
  color: #fdfdfd7a;
}

.tech-skill h2 {
  text-align: center;
  color: white;
}
.tech-skill h5 {
  color: white;
  letter-spacing: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}
.tech-skill ul {
  list-style-type: none;
  padding: 0;
}
.skill-li {
  background: #e9e9e917;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}
.skills-section {
  margin-bottom: 20px;
}

.col {
  margin: 30px 0px;
}

.projects {
  width: 100%;
  height: 600px;
  background-color: rgb(0, 0, 0);
  background-size: contain;
  backdrop-filter: blur(20px);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 80%;
  height: fit-content;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  margin: 10px;
  cursor: pointer;
  transition: 0.6s ease;
}

.card a {
  text-decoration: none;
}

.content {
  padding: 1.1rem;
  display: flex;
  color: white;
  flex-direction: column;
  background-color: #000000;
  border: none;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 10px;
}

.desc {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: none;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}

.action span {
  transition: 0.3s ease;
}

.action:hover {
  color: black;
  background-color: #1da1f2;
}

.action:hover span {
  transform: translateX(4px);
}

.card:hover,
.desc:hover {
  scale: 1.1;
  display: block;
}

/* Experience */

.experience {
  width: 100%;
  background-color: #1da1f2;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  display: none;
}

.exp {
  width: 40%;
  height: fit-content;
  background-color: #000000;
  padding: 2%;
  color: #fff;
}

.contact {
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Contact design */

.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  margin-top: 10%;
  /* position: relative;
    top: 20%;
    left: 30%; */
}

@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 1.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  outline: none;
  border-color: #e81cff;
}

.contact-end {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff56;
  margin: 5%;
  width: 100%;
}

.form-con {
  align-items: center;
  text-align: center;
}

.form-con h1 {
  letter-spacing: 10px;
  line-height: 20px;
}

.wrap {
  margin-top: 0;
  margin-bottom: 10%;
}

@media screen and (max-width: 576px) {
  .home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    scale: 1.2;
  }

  .home-photo {
    margin-top: 40px;
    width: 70%;
  }

  .home-photo img {
    width: 100%;
    border-radius: 70px;
    cursor: pointer;
    overflow: hidden;
  }

  .photo-about img:hover {
    scale: 1.2;
    margin-right: 70px;
  }

  .about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-direction: space-between;
    align-items: center;
    justify-content: center;
  }
  .photo-about {
    width: 50%;
    height: fit-content;
    border-radius: 50%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
    background-color: #cd0d0d;
    bottom: 20px solid yellow;
  }

  .photo-about img {
    margin: 0;
  }

  .about {
    width: 90%;
    margin: 0;
  }
  .skill {
    width: 100%;
    height: fit-content;
    display: block;
    flex-direction: column;
  }

  .tech {
    width: 90%;
    height: fit-content;
    overflow: hidden;
    /* flex-wrap: wrap; */
    margin: 10px;
    justify-content: center;
    align-items: center !important;
    color: #fff;
    margin-top: 140px;
    position: relative;
  }

  .tech-skill {
    width: 90%;
    height: fit-content;
    margin-top: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(251, 251, 251);
    justify-content: center;
    margin-left: 5%;
  }

  .projects {
    width: 100%;
    height: fit-content;
    display: flex;
    /* flex-direction: column; */
    margin-top: 130%;
    margin-bottom: 30%;
  }

  .project-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: fit-content;
    /* flex-wrap: wrap; */
  }
  .card {
    width: 200px;
    border-radius: 0.5rem;
    background-color: #fff;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .card .image img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
  }

  .contact {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
  }
}



@media screen and (max-width: 1199px) {
  .home {
    width: 100% !important;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .profile {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .home-photo {
    margin-top: 40px;
    width: 40%;
  }

  .home-photo img {
    width: 100%;
    border-radius: 70px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .about {
    width: 90%;
    margin: 0;
  }
  .about-me {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    flex-direction: space-between;
    align-items: center;
    justify-content: center;
  }
  .photo-about {
    width: 45%;
    height: fit-content;
    border-radius: 50%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin-left: -180px;
    background-color: #cd0d0d;
    bottom: 20px solid yellow;
  }

  .photo-about img {
    margin: 0;
  }

  .skill {
    width: 100%;
    height: fit-content;
    display: block;
    flex-direction: column;
  }

  .tech {
    width: 90%;
    height: fit-content;
    overflow: hidden;
    /* flex-wrap: wrap; */
    margin: 10px;
    justify-content: center;
    align-items: center !important;
    color: #fff;
    margin-top: 120px;
    position: relative;
  }

  .tech-skill {
    width: 90%;
    height: fit-content;
    margin-top: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(251, 251, 251);
    justify-content: center;
    margin-left: 5%;
  }

  .projects {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .project-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
  .card {
    width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .card .image img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
  }

  .contact {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
  }
}
